# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# SwiftPM
.build/
Package.resolved

# Fastlane / misc
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Local installer artifacts
build-local/

# CI local build output
build-ci/

# Local release artifacts
dist/
